<div class="update-password-wrapper">
    <div class="card shadow-sm update-password-card">

        <!-- Header -->
        <div class="card-body">

            <div class="text-center mb-4">
                <img src="/assets/postex_dark.png" alt="PostEx" class="my-4" style="max-width: 80px;" />
                <h5 class="fw-bold">Update Your Password</h5>
                <p class="text-muted small mb-0">
                    You must update your password before continuing
                </p>
            </div>

            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">

                <!-- New Password -->
                <div class="mb-3">
                    <label class="form-label">New Password</label>

                    <div class="password-wrapper">
                        <input [type]="showNewPassword ? 'text' : 'password'" class="form-control"
                            formControlName="newPassword" placeholder="Enter new password" />

                        <span class="eye-icon" (click)="showNewPassword = !showNewPassword">
                            <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                    </div>

                    <div class="text-danger small mt-1" *ngIf="submitted && f.newPassword.errors">
                        <div *ngIf="f.newPassword.errors['required']">Password is required</div>
                        <div *ngIf="f.newPassword.errors['minlength']">Minimum 8 characters required</div>
                        <div *ngIf="f.newPassword.errors['maxlength']">Maximum 12 characters allowed</div>
                        <div *ngIf="f.newPassword.errors['strongPassword']">
                            Password must include uppercase, lowercase, number & special character
                        </div>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="mb-4">
                    <label class="form-label">Confirm Password</label>

                    <div class="password-wrapper">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                            formControlName="confirmPassword" placeholder="Confirm new password" />

                        <span class="eye-icon" (click)="showConfirmPassword = !showConfirmPassword">
                            <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                    </div>

                    <div class="text-danger small mt-1" *ngIf="submitted && form.errors?.['passwordMismatch']">
                        Passwords do not match
                    </div>
                </div>



                <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
                    <ng-container *ngIf="!loading; else loadingTpl">
                        Update Password
                    </ng-container>

                    <ng-template #loadingTpl>
                        <span class="spinner-border spinner-border-sm me-2"></span>
                        Updating...
                    </ng-template>
                </button>

            </form>


        </div>
    </div>
</div>